<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
</head>
<body>
    <h2>Bevásárló lista</h2>
    <ul>
        <li>Kenyér</li>
        <li>Tej</li>
        <li>Csoki</li>
    </ul>
    <ol>
        <li>Alma</li>
        <li>Banán</li>
    </ol>    
    <p>További listaelemek</p>
    <ol start="3">    
        <li>Körte</li>
        <li>Szilva</li>
    </ol>
<table>
    <tr>
        <th colspan="2">Termékek</th>
    </tr>
    <tr>
        <td>Kenyér</td>
        <td>Tej</td>
    </tr>
    <tr>
        <td colspan="2">Gyümölcsök</td>
    </tr>
    <tr>
        <td>Alma</td>
        <td>Körte</td>
    </tr>
    <tr>
        <td rowspan="2">Zöldségek</td>
        <td>Répa</td>
    </tr>
    <tr>
        <td>Krumpli</td>
    </tr>
    
</table>
<h2>Adatok beküldése</h2>

<form action="/" method="POST">
    <label for="name">Terméknév:</label>
    <input type="text" id="product_name" name="product_name"><br><br>
    <button type="submit" value="Submit">Submit</button>
</form>

</body>
</html>