<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztrációs Űrlap</title>
</head>
<body>
    <h1>Felhasználói regisztráció</h1>

    <form action="/" method="post">
        <label for="fullname">Teljes név:</label>
        <input type="text" id="fullname" name="fullname" required><br><br>  
        <!-- required = kötelező elem      -->

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Jelszó:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="phone">Telefonszám:</label>
        <input type="tel" id="phone" name="phone"><br><br>

        <label>Nem:</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Férfi</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Nő</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Egyéb</label><br><br>

        <label for="color">Kedvenc szín:</label>
        <input type="color" id="color" name="color "><br><br>

        <label for="profile-pic">Profilkép feltöltése:</label>
        <input type="file" id="profile-pic" name="profile-pic "><br><br>

        
        <label for="Born-date">Születési dátum:</label>
        <input type="datetime-local" id="Born-date" name="Born-date "><br><br>

        <label for="Actual-time">Aktuális idő:</label>
        <input type="time" id="Actual-time" name="Actual-time "><br><br>

        <label for="interests">Érdeklődési szint (1-100):</label>
        <input type="range" id="interests" name="interests" min="1" max="100"><br><br>

        <input type="submit" value="Regisztráció">

    </form>

</body>
</html>